@import '_common';

.df {

	.df-shipping-torg12 {


 		.df-body {

   			.df-body-heading {

   		  		width: 105mm;
   		 		overflow: hidden;
   				margin: -22mm auto 0 auto;


   				h2 {
   					display: block;
   					float: left;
   					text-transform: uppercase;
					font-weight: bold;
					font-size: 4.5mm;
					letter-spacing: 0;

                    margin: 10mm 0 0 0;
   				}


   				.df-params {
   					display: block;
   					float: right;

                    width: 48.5mm;
                    overflow: hidden;

                    font-size: $df_shipping_torg12__font_size_labelLeft;

                    .df-param {

						display: block;
                        float: left;
                        width: 24mm;

                        text-align: center;


                        .df-name {
                            border: $df_shipping_torg12__line_size_normal solid black;
                            border-bottom: none;
                            padding: 0.5mm 0;
                        }


                        .df-value {
							padding: 0.5mm 0;
							border: $df_shipping_torg12__line_size_thick solid black;
                        }

                    }


                    .df-param-1 {
                        .df-value {
							border-right: $df_shipping_torg12__line_size_normal solid black;
                        }

                        .df-name {
                            border-right: none;
                        }
                    }


                    .df-param-2 {
                        .df-value {
							border-left: $df_shipping_torg12__line_size_normal solid black;
                        }
                    }

   				}

   			}



   			.df-orderItems {

				margin: 3mm 0 0 0;
                border-collapse:collapse;
                width: 100%;
                table-layout: fixed;


				tr {
					th {
						font-size: $df_shipping_torg12__font_size_labelLeft;
						border: $df_shipping_torg12__line_size_normal solid black;
						text-align: center;
						vertical-align: middle;
					}


					td {
					    @include df_shipping_torg12__font_normalValue;

						text-align: center;
						vertical-align: middle;
						border: $df_shipping_torg12__line_size_normal solid black;
						padding: 0.25mm 1mm;
					}


					td.df-ordering {
						font-style: normal;
					}


					td.df-productName {
						text-align: left;
						line-height: 3.5mm;
					}


					td.df-column-3
                    ,
                    td.df-column-5
                    ,
                    td.df-column-14 {
						border-left: $df_shipping_torg12__line_size_thick solid black;
                    }


					td.df-column-3
                    ,
                    td.df-column-12
                    ,
                    td.df-column-15 {
						border-right: $df_shipping_torg12__line_size_thick solid black;
                    }

				}



				tr.df-orderings {
					th.df-column-3
                    ,
                    th.df-column-5
                    ,
                    th.df-column-6
                    ,
                    th.df-column-7
                    ,
                    th.df-column-8
                    ,
                    th.df-column-9
                    ,
                    th.df-column-10
                    ,
                    th.df-column-11
                    ,
                    th.df-column-12
                    ,
                    th.df-column-14
                    ,
                    th.df-column-15
					{
						border-bottom: $df_shipping_torg12__line_size_thick solid black;
					}
				}




				tr.df-last {
					td.df-column-3
                    ,
                    td.df-column-5
                    ,
                    td.df-column-6
                    ,
                    td.df-column-7
                    ,
                    td.df-column-8
                    ,
                    td.df-column-9
                    ,
                    td.df-column-10
                    ,
                    td.df-column-11
                    ,
                    td.df-column-12
                    ,
                    td.df-column-14
                    ,
                    td.df-column-15
					{
						border-bottom: $df_shipping_torg12__line_size_thick solid black;
					}
				}


				tr.df-lastRowOnPage {
					td.df-column-3
					,
					td.df-column-5
					,
					td.df-column-6
					,
					td.df-column-7
					,
					td.df-column-8
					,
					td.df-column-9
					,
					td.df-column-10
					,
					td.df-column-11
					,
					td.df-column-12
					,
					td.df-column-14
					,
					td.df-column-15
					{
						border-bottom: $df_shipping_torg12__line_size_thick solid black;
					}
				}




				tr.df-orderings {

	   				th {
						font-size: $df_shipping_torg12__font_size_normal;
	   				}

				}


				tr.df-footer {
					td.df-label {
						text-align: right;
						border: none;
						font-style: normal;
	 				}
				}

				td {
					word-wrap: break-word;
				}


				col.df-column-1 {
					width: 12mm;
				}


				col.df-column-2 {
					width: 70mm;
				}


				col.df-column-4 {
					width: 13mm;
				}

				col.df-column-7 {
					width: 10mm;
				}

				col.df-column-8 {
					width: 10mm;
				}
   			}

 		}

	}

}