
.df {


    .df-shipping-torg12-msie {

        .df-heading {

            .df-heading-left {

	 			.df-rows {

					li.df-row-2 {
						margin-top: -0.75mm;
					}


					.df-row-3 {
						margin-top: 1mm;
					}

					.df-row-6 {
						margin-top: -0.75mm;
					}
	 			}
            }


			.df-heading-right {

				.df-rows {

					li.df-row-4 {
						.df-fields {
							.df-field-value {
								height: 5mm;
							}
							.df-field-label {
								height: 6.75mm;
							}
						}
					}
				}

			}
        }

     	.df-footer {

			.df-footer-top {

				.df-row-3 {

					.df-field-2 {
						margin-left: 1.1%;
						padding-right: 0mm;
					}

				}

			}

     	}
    }






	.df-shipping-torg12-webkit {


		.df-heading {

			.df-heading-left {

				.df-rows {
					li.df-row-2 {
						margin-top: -1.5mm;
					}
				}

			}


			.df-heading-right {

				.df-rows {

					li.df-row-1 {
						.df-fields {
							.df-field-value {
								width: 28.3mm;
							}
						}
					}

					li.df-row-4 {
						.df-fields {
							.df-field-value {
								height: 6.8mm;
							}
						}
					}
				}

			}

		}



		.df-footer {

			.df-footer-top {

				.df-row-3 {
					.df-field-2 {
					    margin-left: 0.9%;
					}
				}

				.df-row-4 {

					.df-field-3 {



					}
				}
			}
		}

	}


	.df-shipping-torg12-mozilla {

	 	.df-heading {
            .df-heading-left {
	 			margin-top: 9.75mm;

	 			.df-rows {

					li.df-row-2 {
						margin-top: -1.25mm;
					}

					li.df-row-4 {
						margin-top: -0.25mm;
					}

					li.df-row-5 {
						margin-top: -0.5mm;
					}

					li.df-row-6 {
						margin-top: -1.75mm;
					}

	 			}
            }
	 	}


	 	@media print {
			.df-heading {
				.df-heading-left {


					.df-rows {
						li.df-row-3 {
							margin-top: 1mm;
						}

						li.df-row-5 {
							margin-top: -0.25mm;
						}
					}
				}
			}


			.df-body {
				.df-body-heading {
                    width: 110mm;
				}
			}


			.df-footer {

				.df-footer-top {

					.df-row-3 {
						.df-field-2 {
						}
					}

					.df-row-4 {

						.df-field-3 {

							margin-left: 0.9%;

						}
					}
				}
			}
	 	}




	}



	.df-shipping-torg12-opera {

	    .df-heading {
	 		.df-heading-left {
				margin-top: 9.5mm;
	 		}
		}


		@media print {
			.df-footer {

				.df-footer-top {

					.df-row-3 {

						.df-field-2 {
							margin-left: 0.6%;
						}

					}

				}

			}
		}
	}

}



