<?php

 $_links = $this->getLinks(); 

 if(count($_links)>0): 
 
   foreach($_links as $_link): 

	if ($_link instanceof Mage_Core_Block_Abstract):
	    echo $_link->toHtml();
	 else: ?>
            <li<?php 
		if($_link->getIsFirst()||$_link->getIsLast()): ?> class="<?php 

			if($_link->getIsFirst()): 
				?>first<?php 
			endif; ?><?php 

			if($_link->getIsLast()): 
				?>last<?php 
			endif; ?>"<?php 
		endif; 
		echo $_link->getLiParams() ?>><?php 
		echo $_link->getBeforeText() ?><a href="<?php
		echo $_link->getUrl() ?>" title="<?php 
		echo $_link->getTitle() ?>" <?php 
		echo $_link->getAParams() ?>><?php 
		echo $_link->getLabel() ?></a><?php 
		echo $_link->getAfterText() 
	?></li>
<?php 
	endif;
 
   endforeach; 

 endif; 

?>