<?
/*
 $productCollection = $this->getProductCollection();
 $collectionSize = count($productCollection); 
 $sliderType = $this->getSliderStyle();
 $sliderWidth = $this->getWidthSlider();
 $sliderHeight = $this->getHeightSlider();
 $isShowDescription = $this->showDescription(); 

 if($collectionSize > 0){
*/

?>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('div.G1').galleryScroll({
				autoSlide:5000
			});
	});
</script>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
    $_coreHelper = $this->helper('core');
    $_taxHelper  = $this->helper('tax');



// echo $this->getToolbarHtml();


?>
				<div class="holder">
					<h3 class="title-block">Новые поступления</h3>
				</div>

<?php $_productCollection=$this->getLoadedProductCollection() ?>

<div class="slide-product G1">
	<a href="#" class="link-prev"></a>
	<a href="#" class="link-next"></a>
  <div class="holder-list">
	<ul class="product-list">

    <?php $_collectionSize = $_productCollection->count() ;


?>

<?php $_columnCount = $this->getColumnCount();  
//	$_columnCount=6;
	$getout = 0;
?>
    <?php foreach ($_productCollection as $_product): ?>

            <li style="padding:0 7px 0 7px;">

	<a href="<?php 
		echo $_product->getProductUrl() ?>" title="<?php 
		echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php 
		echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="160" alt="<?php 
		echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
		<div class="info-product" style="width:180px;">
				<a href="<?php echo $_product->getProductUrl() ?>" class="product-name" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a>
<? 
					if($_product->getSku() !="") 
						echo '<span class="info">Артикул: '.$_product->getSku().'</span>';
?>
			<div class="holder-price">

<?php 
	$_price    = $_product->getPrice();
	$_price_m2 = $_product->getPrice_m2();

if($_price_m2 > 0) {
	$ShowPrice = $_price_m2;
//	echo '<div class="opisprice">за кв.м.</div>';
} else {
	$ShowPrice = $_price;
//	echo '<div class="opisprice">за упаковку</div>';
}
	echo $_coreHelper->currency($ShowPrice, true, true);
?>

                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><?php echo $this->__('Add to Cart') ?></button>
			</div>
		</div>
            </li>

        <?php 
	$getout++;
	if($getout>12) break;
	endforeach 
	?>
	</ul>
  </div>
</div>

<?
// }
?>