<?php

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body>
<?php 
// echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ;
// echo $this->getChildHtml('after_body_start') ;
?>
<div id="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <?php echo $this->getChildHtml('header') ?>
	<div id="main">
		<div id="content">
			<?php echo $this->getChildHtml('breadcrumbs') ?>
                	<?php echo $this->getChildHtml('global_messages') ?>
		  <div style="padding: 0 0px;">
                	<?php echo $this->getChildHtml('content') ?>
		  </div>
		</div>
	</div>
</div><!-- wrapper -->

<table width=100% border=0 cellpadding=0 cellspacing=0 style="background:#251a16;overflow:hidden;background: url(/skin/frontend/default/shop/i/bottom-bg.png);"><tr><td> </td>
<td width=1100><div id="footer">
        <?php echo $this->getChildHtml('footer') ?>
</div><!-- footer --></td><td> </td></tr></table>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
