<?php /** @var Df_Torg12_Block_Frontend_Torg12_Body_Table_Header $this */ ?>
<thead>
	<tr>
		<th rowspan='2'>Номер по<br/>порядку</th>
		<th colspan='2'>Товар</th>
		<th colspan='2'>Единица<br/>измерения</th>
		<th rowspan='2'>Вид упаковки</th>
		<th colspan='2'>Количество</th>
		<th rowspan='2'>Масса<br/>брутто</th>
		<th rowspan='2'>Количество<br/>(масса нетто)</th>
		<th rowspan='2'>Цена,<br/>руб. коп.</th>
		<th rowspan='2'>Сумма без<br/>учёта НДС,<br/>руб. коп.</th>
		<th colspan='2'>НДС</th>
		<th rowspan='2'>Сумма с учётом<br/>НДС,<br/>руб. коп.</th>
	</tr>

	<tr>
		<th>наименование,<br/>характеристика, сорт, артикул<br/>товара</th>
		<th>код</th>
		<th>наиме-<br/>нование</th>
		<th>код<br/>по<br/>ОКЕИ</th>
		<th>в одном<br/>месте</th>
		<th>мест,<br/>штук</th>
		<th>ставка, %</th>
		<th>сумма,<br/>руб. коп.</th>
	</tr>


	<tr class='df-orderings'>
		<th class='df-column-1'>1</th>
		<th class='df-column-2'>2</th>
		<th class='df-column-3'>3</th>
		<th class='df-column-4'>4</th>
		<th class='df-column-5'>5</th>
		<th class='df-column-6'>6</th>
		<th class='df-column-7'>7</th>
		<th class='df-column-8'>8</th>
		<th class='df-column-9'>9</th>
		<th class='df-column-10'>10</th>
		<th class='df-column-11'>11</th>
		<th class='df-column-12'>12</th>
		<th class='df-column-13'>13</th>
		<th class='df-column-14'>14</th>
		<th class='df-column-15'>15</th>
	</tr>
</thead>