.df html, .df body, .df div, .df span, .df applet, .df object, .df iframe, .df
h1, .df h2, .df h3, .df h4, .df h5, .df h6, .df p, .df blockquote, .df pre, .df
a, .df abbr, .df acronym, .df address, .df big, .df cite, .df code, .df
del, .df dfn, .df em, .df font, .df img, .df ins, .df kbd, .df q, .df s, .df samp, .df
small, .df strike, .df strong, .df sub, .df sup, .df tt, .df var, .df
b, .df u, .df i, .df center, .df
dl, .df dt, .df dd, .df ol, .df ul, .df li, .df
fieldset, .df form, .df label, .df legend, .df
table, .df caption, .df tbody, .df tfoot, .df thead, .df tr, .df th, .df td
, .df button
, .df menu
, .df header
, .df article
, .df footer
, .df nav
, .df section
, .df aside
, .df figure
, .df dialog
, .df mark
, .df time
, .df meter
, .df video
, .df audio
, .df details
, .df datagrid
, .df command {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: normal;
  font-style: normal;
  font-weight: normal; }

.df body {
  line-height: 1; }

.df ol
,
.df ul
,
.df menu
,
.df li {
  list-style: none; }

.df blockquote, q {
  quotes: none; }

.df blockquote:before, .df blockquote:after,
.df q:before, .df q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
.df :focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
.df ins {
  text-decoration: none; }

.df del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
.df table {
  border-collapse: collapse;
  border-spacing: 0; }

hr#system-readmore {
  display: none; }

.df input.input-text
,
.df select,
.df textarea {
  background: #fff;
  border: 1px solid #b6b6b6; }

.df input.input-text
,
.df textarea {
  padding: 0; }

.df-hidden {
  display: none; }

/* fancyBox v2.0.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002; }

.fancybox-outer {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 1003; }

.fancybox-opened .fancybox-outer {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-inner {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
  overflow: hidden; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: url("../../js/source/plugins/fancybox/_core/fancybox_loading.gif");
  opacity: 0.8;
  cursor: pointer;
  z-index: 1010; }

.fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../../js/source/plugins/fancybox/_core/fancybox_sprite.png"); }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1004; }

.fancybox-prev, .fancybox-next {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url("../../js/source/plugins/fancybox/_core/blank.gif");
  /* helps IE */
  z-index: 1003; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-prev span, .fancybox-next span {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 1003; }

.fancybox-prev span {
  background-position: 0 -36px; }

.fancybox-next span {
  background-position: 0 -72px; }

.fancybox-prev:hover, .fancybox-next:hover {
  visibility: visible; }

.fancybox-prev:hover span {
  left: 20px; }

.fancybox-next:hover span {
  left: auto;
  right: 20px; }

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden; }

/* Overlay helper */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 1001;
  background: #000; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 1005; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 1003;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  margin-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

#fancybox-buttons {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1005; }

#fancybox-buttons.top {
  top: 10px; }

#fancybox-buttons.bottom {
  bottom: 10px; }

#fancybox-buttons ul {
  display: block;
  width: 170px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background: #111;
  -webkit-box-shadow: 0 1px 3px black, 0 0 0 1px rgba(0, 0, 0, 0.7), inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 0 1px 3px black, 0 0 0 1px rgba(0, 0, 0, 0.7), inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  background: #111111 -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.15)));
  background: #111111 -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.15) 100%);
  border-radius: 3px; }

#fancybox-buttons ul li {
  float: left;
  margin: 0;
  padding: 0; }

#fancybox-buttons a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-image: url("../../js/source/plugins/fancybox/helpers/fancybox_buttons.png");
  background-repeat: no-repeat;
  outline: none; }

#fancybox-buttons a.btnPrev {
  width: 32px;
  background-position: 6px 0; }

#fancybox-buttons a.btnNext {
  background-position: -33px 0;
  border-right: 1px solid #3e3e3e; }

#fancybox-buttons a.btnPlay {
  background-position: 0 -30px; }

#fancybox-buttons a.btnPlayOn {
  background-position: -30px -30px; }

#fancybox-buttons a.btnToggle {
  background-position: 3px -60px;
  border-left: 1px solid #111;
  border-right: 1px solid #3e3e3e;
  width: 35px; }

#fancybox-buttons a.btnToggleOn {
  background-position: -27px -60px; }

#fancybox-buttons a.btnClose {
  border-left: 1px solid #111;
  width: 38px;
  background-position: -57px 0px; }

#fancybox-buttons a.btnDisabled {
  opacity: 0.5;
  cursor: default; }

#fancybox-thumbs {
  position: fixed;
  left: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 1005; }

#fancybox-thumbs.bottom {
  bottom: 2px; }

#fancybox-thumbs.top {
  top: 2px; }

#fancybox-thumbs ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

#fancybox-thumbs ul li {
  float: left;
  padding: 1px;
  opacity: 0.5; }

#fancybox-thumbs ul li.active {
  opacity: 0.75;
  padding: 0;
  border: 1px solid #fff; }

#fancybox-thumbs ul li:hover {
  opacity: 1; }

#fancybox-thumbs ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
  outline: none; }

#fancybox-thumbs ul li img {
  display: block;
  position: relative;
  border: 0;
  padding: 0; }
