<?php /** @var Mage_Customer_Block_Form_Login $this */ ?>
<div id='df-login' class='account-login'>
	<form action='<?php echo $this->getPostActionUrl() ?>' method='post' id='login-form'>
		<div class='registered-users'>
			<div class='content'>
				<h2><?php echo $this->__('Registered Customers') ?></h2>
				<ul class='form-list'>
					<li>
						<label for='email' class='required'><em>*</em><?php echo $this->__('Email Address') ?></label>
						<div class='input-box'>
							<input type='text' name='login[username]' value='<?php echo $this->htmlEscape($this->getUsername()) ?>' id='email' class='input-text required-entry validate-email' title='<?php echo $this->__('Email Address') ?>' />
						</div>
					</li>
					<li>
						<label for='pass' class='required'><em>*</em><?php echo $this->__('Password') ?></label>
						<div class='input-box'>
							<input type='password' name='login[password]' class='input-text required-entry validate-password' id='pass' title='<?php echo $this->__('Password') ?>' />
						</div>
					</li>
				</ul>
				<p class='required'><?php echo $this->__('* Required Fields') ?></p>
			</div>
			<div class='buttons-set'>
				<a
					href='<?php echo $this->getForgotPasswordUrl() ?>'
					class='f-left'
				><?php echo $this->__('Forgot Your Password?') ?></a>
				<button
					type='submit'
					class='button'
					title='войти'
					name='send'
					id='send2'
				><span><span>войти</span></span></button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
//<![CDATA[
	var dataForm = new VarienForm('login-form', true);
//]]>
</script>