.outtaHere {
	position:absolute;
	left:-3000px;
}
/*Radio buttons*/
.radioArea, .radioAreaChecked {
	float:left;
	width:15px !important;
	height:16px;
	background: url(/skin/frontend/default/shop/i/radio.gif) no-repeat;
	overflow: hidden;
}
.radioAreaChecked {background-position: 0 -16px;}
/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:14px !important;
	height:13px;
	overflow: hidden;
	margin:0 8px 0 0;
	background: url(/skin/frontend/default/shop/i/checkbox.gif) no-repeat;
}
.checkboxAreaChecked {background-position: 0 -13px;}

/* Selects */
.selectArea {
	position: relative;
	height: 18px;
	float:left;
	color:#686868;
	font:11px/18px Arial, Helvetica, sans-serif;
	border-top:1px solid #abadb3;
	border-right:1px solid #dbdfe6;
	border-left:1px solid #dbdfe6;
	border-bottom:1px solid #dbdfe6;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	behavior: url(js/PIE.htc);
	position:relative;
	background:#fff;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width:7px;
	height:100%;
	display: block;
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right: 0;
	width:15px;
	height:100%;
	background: url(/skin/frontend/default/shop/i/select-button.gif) no-repeat 50% 0;
}
.selectArea .center{
	height: 18px;
	line-height:18px;
	display:block;
	padding:0 15px 0 7px;
}
.selectArea .center img {
	float:left;
}
/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	background-color: #fff;
	border-bottom:1px solid #dbdfe6;
	border-left:1px solid #dbdfe6;
	border-right:1px solid #dbdfe6;
	display: block;
	z-index: 30;
	font-size: 11px;
	margin:0 0 0 1px;
}
.drop-dif {
	background:#b2b2b2;
}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	margin:0;
	padding:0;
	overflow:hidden;
	list-style: none;
}
.optionsDivVisible ul li {
	float:left;
	width:100%;
}
.optionsDivVisible a {
	color: #000;
	overflow:hidden;
	text-decoration: none;
	display: block;
	height:1%;
	padding: 4px 6px;
}
.optionsDivVisible a img {
	border:none;
	float:left;
}
.optionsDivVisible a:hover {
	background-color: #b2b2b2;
	color: #FFF;
}