#custommenu {
	width:1077px;
	margin:15px auto 0;
	padding:0px 10px 0 10px;
	list-style:none;
	height:46px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: url(../../../images/bg-nav.gif) repeat-x;
	background: linear-gradient(top, #5e4234 0%, #3d2b21 100%);
	background: -moz-linear-gradient(top, #5e4234 0%, #3d2b21 100%);
	background: -webkit-linear-gradient(top, #5e4234 0%, #3d2b21 100%);
	background: -o-linear-gradient(top,    #5e4234 0%, #3d2b21 100%);
	background: -ms-linear-gradient(top,   #5e4234 0%, #3d2b21 100%);
	background: linear-gradient(to bottom, #5e4234 0%, #3d2b21 100%);
	behavior: url(js/PIE.htc);
	position:relative;
	z-index:10000;
}
div.menu {
    float: left;
}
div.menu.act
{
	height:34px;
			background: transparent;


			background: transparent;
			background: linear-gradient(top, #3d2b21 0%, #5e4234 100%);
			background: -moz-linear-gradient(top, #3d2b21 0%, #5e4234 100%);
			background: -webkit-linear-gradient(top, #3d2b21 0%,#5e4234 100%);
			background: -o-linear-gradient(top,  #3d2b21 0%,#5e4234 100%);
			background: -ms-linear-gradient(top,  #3d2b21 0%,#5e4234 100%);
			background: linear-gradient(to bottom,  #3d2b21 0%,#5e4234 100%);

}
/*
.menu0 a:hover{
margin:0;
			background: linear-gradient(top, #557615 0%, #94B655 100%);
			background: -moz-linear-gradient(top, #557615 0%, #94B655 100%);
			background: -webkit-linear-gradient(top, #557615 0%,#94B655 100%);
			background: -o-linear-gradient(top,  #557615 0%,#94B655 100%);
			background: -ms-linear-gradient(top,  #557615 0%,#94B655 100%);
			background: linear-gradient(to bottom,  #557615 0%,#94B655 100%);
}
*/
div.menu.active
{
	height:34px;

			background: linear-gradient(top, #557615 0%, #94B655 100%);
			background: -moz-linear-gradient(top, #557615 0%, #94B655 100%);
			background: -webkit-linear-gradient(top, #557615 0%,#94B655 100%);
			background: -o-linear-gradient(top,  #557615 0%,#94B655 100%);
			background: -ms-linear-gradient(top,  #557615 0%,#94B655 100%);
			background: linear-gradient(to bottom,  #557615 0%,#94B655 100%);
}

div.wp-custom-menu-popup {
    position:absolute;
    z-index:3000;
    border:5px solid #94B655; /*#FFC0CB;*/
    display: none;
    background-color:#EAE8E6;
    text-align:left;
}
div.menu, div.wp-custom-menu-popup {
    padding: 5px 12px 6px 8px;
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
}


div.wp-custom-menu-popup a.actParent {
    color: #4D4D4D;
}
div.wp-custom-menu-popup a.act {
    color: #719D1C; /*#A52A2A;*/
}

div.column {
    float:left;
    width:200px; /* column width */
    padding:5px;
}
div.itemSubMenu {
    margin-left:20px;
}
.clearBoth {
    clear:both;
}
#custommenu.rtl .menu {
    float: right;
}
#custommenu.rtl div.column {
    text-align: right;
}

.parentMenu a {
	font:bold 14px/22px Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
	display: block;
	padding: 8px 20px;
	color: #fff;
}

a.level1 {
	font-weight:bold;
        padding: 8px 0 5px 0;
}
a.level1:hover {
    color: #94B655; /*#FFC0CB;*/

}


a.level2 {
	font-weight:normal;
        padding: 1px 0;
}
a.level2:hover, a.level2:hover {
color: #94B655;
}

