<div class="footer-container">
    <div class="footer">
<?php 
// echo $this->getChildHtml('bottomContainer');
?>
        <div class="f-right">
            <?php echo $this->getChildHtml('cms_footer_links') ?>
            <?php echo $this->getChildHtml('footer_links') ?>
            <?php echo $this->getChildHtml('store_switcher') ?>
        </div>
        <div class="f-left">
			<address><?php echo $this->getCopyright() ?></address>
			<strong>Design by <a href="http://www.magesupport.com" target="_blank" title="MageSupport">MageSupport.com</a></strong>
            <?php //echo $this->getChildHtml('newsletter') ?>
        </div>
    </div>
</div>
