<?php
/* @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php if ($_product = Mage::registry('current_product')) { ?>
    <title><?php echo $this->getTitle() ?> <?php echo ' (арт. '.$_product->getSku().')'; ?></title>
<?php }else{ ?>
    <title><?php echo $this->getTitle() ?></title>
<?php } ?>
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<link rel="icon" href="<?php echo $this->getSkinUrl('favicon.ico') ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getSkinUrl('favicon.ico') ?>" type="image/x-icon" />
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php 
// echo $this->helper('core/js')->getTranslatorScript() 
/*
	<script type="text/javascript">
		$(document).ready(function(){
			$('div.G1').galleryScroll();
			$('div.G4').galleryScroll({
				autoSlide:6000,
				slideNum:'span.s2'
			});
		});
	</script>
*/
?>
<?php echo $this->getIncludes() ?>
