<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
		<div class="panel-top">
			<div class="innerdiv holder">
				<ul class="panel">
					<li><a href="/o-kompanii.html">О КОМПАНИИ</a></li>
					<!-- li><a href="#">СОВЕТЫ ДИЗАЙНЕРА</a></li -->
					<li><a href="/kak-sdelat-zakaz.html">КАК ЗАКАЗАТЬ</a></li>
					<li><a href="/dostavka-i-oplata.html">ДОСТАВКА И ОПЛАТА</a></li>
					<li><a href="/contacts-latyra-shop.html">КОНТАКТЫ</a></li>
<? 
echo $this->getChildHtml('topContainer');
?>
				</ul>

<? 
echo $this->getChildHtml('topBar');
?>


				<ul class="login">
<? 
echo $this->getChildHtml('topLinks');
?>					<!-- li><a href="#">Вход</a></li>
					<li><a href="#">Регистрация</a></li -->
				</ul>

			</div>
		</div>

		<div id="header">
			<div class="innerdiv holder">

				

	        <?php if ($this->getIsHomePage()):?>
			<strong class="logo"><a href="/"></a></strong>
	        <?php else:?>
			<strong class="logo"><a href="/"></a></strong>
	        <?php endif?>

				<div class="inetshop">
					<span>Интернет магазин</span>
					<span class="green">строительных материалов</span>
				</div>
				<div class="contact">
					<div class="holder">
						<a href="/contacts" class="city"><span>Заказть обратный звонок</span></a>
					</div>
					<span class="phone">8 495 724-01-61</span>
					<span class="support">Ежедневно c 08:00 до 21:00 (по МСК)</span>
				</div>
				<div class="socialmain">
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus,moimir"></div> 
					<span>поделитесь с друзьями</span>
				</div>
				<div class="holder-basket">
					<span class="basket">
						<strong>ВАШИ ПОКУПКИ<? 
$num_it = Mage::helper('checkout/cart')->getCart()->getItemsCount();
if($num_it>0)
echo ' ('.$num_it. ')';
//else
//echo 0;

 ?></strong><span>
<?
if($num_it>0)
echo '<a href=/checkout/cart>Оформить покупки</a>';
else
echo 'К сожалению покупок нет';
?>
</span>
					</span>
					<div class="holder">
						<a href="/dostavka-i-oplata.html" class="delivery">Условия доставки покупок</a>
					</div>
				</div>
			</div>

<?php 
				echo $this->getChildHtml('topMenu');
?>


		</div>