<?php /** @var Mage_Page_Block_Html $this */ ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php echo $this->getChildHtml('head'); ?>
</head>
<body class='df'>
	<?php echo $this->getChildHtml('df.shipping.document'); ?>
</body>
</html>