<?php
/**
 * Product list toolbar
 *
 * @see Mage_Catalog_Block_Product_List_Toolbar
 */

// $this->addPagerLimit('grid', '9', $label='');
// $this->addPagerLimit('grid', '12', $label='');
// $this->addPagerLimit('grid', '33', $label='');

?>
<div class="box">
 <div class="holder">
<?php if($this->getCollection()->getSize()): ?>
    <?php if( $this->isExpanded() ): ?>
            <select onchange="setLocation(this.value)" class="sorting">
            <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                    <?php echo $this->__($_order) ?>
                </option>
            <?php endforeach; ?>
            </select>
            <?php if($this->getCurrentDirection() == 'desc'): ?>
                <a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>"><img src="<?php echo $this->getSkinUrl('images/i_desc_arrow.gif') ?>" alt="<?php echo $this->__('Set Ascending Direction') ?>" class="v-middle" /></a>
            <?php else: ?>
                <a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>"><img src="<?php echo $this->getSkinUrl('images/i_asc_arrow.gif') ?>" alt="<?php echo $this->__('Set Descending Direction') ?>" class="v-middle" /></a>
            <?php endif; ?>
    <?php endif; ?>

    <select onchange="setLocation(this.value)" class="number-product">
          <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
              <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                  <?php echo $_limit . ' '. $this->__('per page') ?>
              </option>
          <?php endforeach; ?>
    </select>
        <?php echo $this->getPagerHtml() ?>

<?php endif ?>
 </div>
</div>
