<?php 

if(count($this->getItemCollection()->getItems())): 

//echo "row=".$this->getRowCount();
	$this->setColumnCount(10);
	$this->setItemLimit(10);
// echo "<br>col=".$this->getColumnCount();

?>
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('div.G1').galleryScroll({
			});
		});
</script>
<div class="holder">
	<h3 class="title-block"><?php echo $this->__('You may also be interested in the following product(s)') ?></h3>
</div>

<?php 
$_productCollection=$this->getLoadedProductCollection();
$ccount =0;
?>
<div class="slide-product G1" style="width:740px;">
	<a href="#" class="link-prev"></a>
	<a href="#" class="link-next"></a>
  <div class="holder-list" style="width:720px;">
	<ul class="product-list">

<?php 
//	$this->setItemLimit(10);
	$this->resetItemsIterator();
	while( ($_link=$this->getIterableItem() AND $ccount<10)){
?>
	<li style="padding:0 7px 0 7px;">
                <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>" class="product-image"><img src="<?php 
			echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(200) ?>" 
			width="200" height="160" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" /></a>

		<div class="info-product" style="width:170px;">
                  <a href="<?php echo $_link->getProductUrl() ?>" class="product-name" title="<?php echo $this->htmlEscape($_link->getName()) ?>"><?php echo $this->htmlEscape($_link->getName()) ?></a>
			<div class="holder-price">
		                <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
		                <?php echo $this->getReviewsSummaryHtml($_link) ?>
		 	</div>
		</div>
	</li>
<?php 
		$ccount++;
	}
?>
	</ul>
  </div>
</div>

<?php endif ?>