@import '../_common.scss';


.df {

	.df-shipping-torg12 {

  		.df-footer {

			.df-footer-bottom {

				width: 100%;
				overflow: hidden;


				$hackWidth: 0.6mm;

				$horizontalPadding: 2.5mm;


 				$leftPartWidth:
						($df_shipping_torg12__width / 2)
					-
						$df_shipping_torg12__line_size_normal
					-
						$horizontalPadding
 				;


				$rightPartWidth: $leftPartWidth - 0.5mm;


 				$borderWidth: $df_shipping_torg12__line_size_normal;



				.df-footer-bottom-left {
					width: $leftPartWidth;
					float: left;
                    border-right: $borderWidth solid black;
                    padding: 0 $horizontalPadding 0 0;

				}



				.df-footer-bottom-right {
					width: $rightPartWidth;
					float: right;
					padding: 0 0 0 $horizontalPadding;
				}




				.df-field-date-day {
					float: left;
					margin-right: 3.4mm;

					.df-input-container {
						width: 5.8mm;
					}

				}



				.df-field-date-month {
					float: left;
					width: 22mm;
					margin-right: 2mm;

					.df-input-container {
						width: 100%;
					}
				}



				.df-field-date-year {
					float: left;
					width: 16.6mm;

					.df-input-container {
						width: 8.7mm;
						margin-right: 1mm;
					}
				}



				li.df-row-4
				,
				li.df-row-5
				,
				li.df-row-6 {

					.df-field {
						.df-label-left {
							font-weight: bold;
						}
					}

				}


				li.df-row-stamp {

					margin-top: 4mm;

					.df-field-1 {
						float: left;
						width: 28mm;

						margin-right: 9mm;

						.df-label-left {
							width: 100%;
							text-align: right;
						}
					}
				}




			}


  		}

	}
}



@import 'bottom/_left.scss';
@import 'bottom/_right.scss';